export MIGRATE_DSN_INITIAL="sqlserver://SA:WootWoot123!@localhost:1533?database=mydb&x-migrations-table=schema_initial_migrations"
export MIGRATE_DSN_COMMON="sqlserver://SA:WootWoot123!@localhost:1533?database=mydb&x-migrations-table=schema_common_migrations"
export MIGRATE_DSN_CLIENT="sqlserver://SA:WootWoot123!@localhost:1533?database=mydb&x-migrations-table=schema_specific_migrations"